ul{
    list-style-type: none;
    padding-inline-start: unset;
    margin-block-end: unset;

}
p{
    margin-block-end: unset;
}
.first-block-back{
    background-color: #f3f4f8;
}

input {
    border: 0;
}
hr{
    margin: 0 !important;
}
.first-block-back-image{
    background-image: url("/web_technologies_TumGU/files/images/Group 1.png");
    background-position: 150% 0%;
    background-repeat: no-repeat;
}


