@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}
.p-class {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68

}
